*{
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background: #e6e6e6;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
nav{
    background: #ff440098;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    font-size: 30px;
}
nav ul.menu li{
    position: relative;
}
nav ul.menu li a{
    text-decoration: none;
    margin-right: 40px;
    color: #fff;
    position: relative;
    transition: all .3s linear;
}

nav ul.dropdown {
    list-style: none;
    justify-content: center;
    align-items: center;
    opacity: 0;
    z-index: 2;
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 0;
    background: #ff440098;
    border-radius: 10px;
    transition: all .3s linear;
}
nav ul.dropdown li a{
    color: #000;
}
nav ul.dropdown li a:hover{
    margin-right: 40px;
    color: #fff;
}
nav .smallscreen {
    display: none;
    margin-right: 20px;
    cursor: pointer;
}
nav .smallscreen .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition:all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background: #fff;
}

nav ul.menu li:hover ul.dropdown{
    top: 100%;
    opacity: 1;
    pointer-events: all;
}
nav ul.menu li a:hover {
    color: #000;
}

article {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}
article .card{
    width: 320px;
    display: flex;
    flex-direction: column;
    margin: 30px;
    padding: 30px 5px 30px 5px;
    background: #ff44006e;
    border-radius: 10px 10px 0 0;
}
article .card .desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
article .card .desc h1{
    font-size: 30px;
}
article .card .desc p{
    display: flex;
    font-size: 15px;
    margin-bottom: 20px;
}
article .card .desc a{
    font-size: 24px;
    text-decoration: none;
    color: #000;
    background: #fff;
    transition: all 0.5s linear;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
}
article .card .desc a:hover{
    color: #ff44006e;
    padding: 2px;
}
/* footer */


footer{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    font-size: 20px;
}
footer .footer{
    display: flex;
    justify-content: space-between;
}
footer .footer .contact h1 {
    font-size: 30px;
}
footer .footer .contact ul {
    list-style: none;
    font-size: 30px;
}

footer .footer .follow-us h1 {
    font-size: 30px;
}
footer .footer .follow-us ul {
    list-style: none;
    font-size: 30px;
}
@media (max-width: 884px) {
    nav .smallscreen{
        display: block;
    }
    nav .smallscreen.active .bar:nth-child(2){
        opacity: 0;
    }
    nav .smallscreen.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    nav .smallscreen.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    nav ul.menu{
        z-index: 2;
        position: fixed;
        left: -100%;
        top: 100px;
        gap: 0;
        flex-direction: column;
        background: #ff440098;
        width: 100%;
        text-align: center;
        transition:all 0.3s;
    }
    nav ul.menu.active{
        left: 0;
    }
    nav ul.dropdown {
        width: 120px;
        background-color: #ff4400df
    }
    nav ul.menu li:nth-child(3){
        transition: all .3s;
    }
    nav ul.menu li:nth-child(3):hover{
        margin-bottom: 40px;
    }
    header  .tittle h1{
        font-size: 90px;
    }
    header p{
        font-size: 30px;
    }
    article .desc{
        display: flex;
        justify-content: space-around;
    }
    article .desc .container{
        margin-bottom: 40px;
    }
    article .card{
        margin: 30px auto;
    }
}

@media (max-width: 430px){
    nav ul.menu{
        top:50px;
        font-size: 15px;
    }
    nav ul.menu{
        font-size: 15px;
    }
    nav img{
        width: 50px;
    }
    nav ul.menu li a{
        margin-right: 10px;
    }
    header  .tittle h1{
        font-size: 60px;
    }
    header  .tittle h2{
        font-size: 20px;
    
    }
    header .tittle p{
        font-size: 15px;
    }
    footer .footer .contact h1 {
        font-size: 20px;
    }
    footer .footer .contact ul {
        list-style: none;
        font-size: 20px;
    }
    footer .footer .contact ul img{
        width: 20px;
    }
    
    footer .footer .follow-us h1 {
        font-size: 20px;
    }
    footer .footer .follow-us ul img{
        width: 20px;
    }
    footer p {
        list-style: none;
        font-size: 15px;
    }
}
