*{
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
nav{
    background: #ff440098;
    top: 0;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
nav ul.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    font-size: 30px;
}
nav ul.menu li{
    position: relative;
}
nav ul.menu li a{
    text-decoration: none;
    margin-right: 40px;
    color: #fff;
    transition: all .5s linear;
    position: relative;
    transition: all .5s linear;
}

nav ul.dropdown {
    list-style: none;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 0;
    background: #ff440098;
    border-radius: 10px;
    transition: all .5s linear;
}
nav ul.dropdown li a{
    margin-right: 40px;
    color: #000;
}
nav ul.dropdown li a:hover{
    margin-right: 40px;
    color: #fff;
}

nav ul.menu li:hover ul.dropdown{
    top: 100%;
    opacity: 1;
    pointer-events: all;
}
nav ul.menu li a:hover {
    color: #000;
}


article .card{
    display: flex;
    flex-grow: 1;
}
article .card img{
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    padding: 30px 5px 30px 5px;
    background: #ff44006e;
    border-radius: 10px 10px 0 0;
    margin-right: 40px;
}

article .card .desc{
    display: flex;
    flex-direction: column;
}
article .card .desc h1{
    font-size: 30px;
}
article .card .desc p{
    display: flex;
    font-size: 15px;
    margin-bottom: 20px;
}
article .card .desc a{
    font-size: 24px;
    text-decoration: none;
    color: #000;
    background: #fff;
    transition: all 0.5s linear;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
}
article .card .desc a:hover{
    color: #ff44006e;
    padding: 2px;
}


footer{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    font-size: 20px;
}
footer .footer{
    display: flex;
    justify-content: space-between;
}
footer .footer .contact h1 {
    font-size: 30px;
}
footer .footer .contact ul {
    list-style: none;
    font-size: 30px;
}

footer .footer .follow-us h1 {
    font-size: 30px;
}
footer .footer .follow-us ul {
    list-style: none;
    font-size: 30px;
}