*{
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background: #e6e6e6;
}

nav{
    background: #cccc;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    font-size: 30px;
}
nav ul.menu li{
    position: relative;
}
nav ul.menu li a{
    text-decoration: none;
    margin-right: 40px;
    color: #fff;
    position: relative;
    transition: all .3s linear;
}

nav ul.dropdown {
    list-style: none;
    justify-content: center;
    align-items: center;
    opacity: 0;
    z-index: 2;
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 0;
    background: #ff440098;
    border-radius: 10px;
    transition: all .3s linear;
}
nav ul.dropdown li a{
    color: #000;
}
nav ul.dropdown li a:hover{
    margin-right: 40px;
    color: #fff;
}
nav .smallscreen {
    display: none;
    margin-right: 20px;
    cursor: pointer;
}
nav .smallscreen .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition:all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background: #fff;
}

nav ul.menu li:hover ul.dropdown{
    top: 100%;
    opacity: 1;
    pointer-events: all;
}
nav ul.menu li a:hover {
    color: #000;
}
nav button.bookings{
    width: 140px;
    height: 35px;
}
nav button.bookings a{
    font-size: 14px;
    padding: 20px 10px 20px 40px;
    color: #fff;
    
}
nav button.bookings img{
    width: 20px;
    transition: all .3s linear;
    border-radius: 30%;
}

nav button.bookings:hover{
    cursor: pointer;
    width: 130px;
    overflow: hidden;
}
nav button.bookings:hover a{
    padding: 0 15px;
    transform: translateX(-2%);
    color: #000;
    background: none;
}
nav button.bookings:hover img{
    transform: rotate(360deg);
    background: #ff440098;
    padding: 20px 5px 20px 5px ;
}

/*header*/

header{
    position: relative;
}
header img{
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: .8;
}


header .tittle{
    min-height: 100vh;
    display: flex;

    flex-direction: column;
    justify-content: center;
}
header .tittle h1{
    font-size: 100px;
    font-family:serif;
}
header .tittle h2{
    display: flex;
    font-size: 30px;
    margin: 0px 0 100px 0;
}
header .tittle h2 .li{
    display: flex;
    flex-direction: column;
    margin:0 0 0 10px ;
    height: 32px;
    overflow: hidden;
    padding:0 0 10px 0;


}
header .tittle h2 .li span{

    text-justify:auto;
    font-size: 30px;
    animation: autoscroll 10s  infinite;
    animation-delay: 5s;
}
@keyframes autoscroll {
    0%{
        transform: translateY(0);
    }    
    25%{
        transform: translateY(-40px);
    }    
    50%{
        transform: translateY(-80px);
    }    
    100%{
        transform: translateY(-119px);
    }    
       
}
header .tittle p{
    font-size: 20px;
    text-align: center;
    justify-self: center;
}

/* article */

article{
    margin-top: 50px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
article .desc{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
article .desc .container{
    display: flex;
    flex-direction: column;
    border-top: 50px solid #ff440098;
    border-radius: 20px;
    padding: 10px;
}
article .desc .container h1{
    font-size: 50px;
}
article .desc .container p{
    font-size: 24px;
}
article .desc .container-two{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #959595;
    box-shadow: 10px 10px 30px;
    border-radius: 50%;
    width: 880px;
    height: 340px;
    margin-right: 100px;
    margin-left: 30px;
}
article .desc .container-two img{
    border-radius: 50%;
    width: 320px;
    height: 320px;
    transition: all .3s;
}
article .desc .container-two img:hover{
    transform: rotate(360deg);
    cursor: pointer;
}

article .desc-two{
    display: flex;
    justify-content: space-between;
    margin: 30px 0 30px 0px;

}
article .desc-two .container{
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 500px;
    border-top: 50px solid #ff440098;
    border-radius: 20px;
    margin-left: 30px;
    padding: 10px;
}
article .desc-two .container h1{
    font-size: 50px;
}
article .desc-two .container p{
    font-size: 24px;
}
article .desc-two .svg{
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
}
article .desc-two .svg .item{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 50px;
}
article .desc-two .svg .item img{
    padding: 10px;
    background: #959595;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    transition: all .3s;
}
article .desc-two .svg .item img:hover{
    cursor: pointer;
    background: #fff;
    transform: rotate(360deg);
}
article .desc-two .svg label{
    font-size: 14px;
}


article .products{
    display: flex;
    justify-content: space-around;
}
article .products .card{
    padding: 20px 0 10px 0;
    background: #cccc;
    border-radius: 10px 10px 0 0;
}
article .products .card .description {
    display: flex;
    flex-direction: column;
    align-items: center;
}
article .products .card .description h3{
    font-size: 40px;
}
article .products .card .description a{
    font-size: 24px;
    text-decoration: none;
    color: #000;
    position: relative;
    background: #fff;
    transition: all 0.3s linear;
    border-radius: 5px;
    padding: 5px;
}
article .products .card .description a:hover{
    color: #ff44006e;
    padding: 2px;
}

button.bookings{
    background: #fff;
    color: #000;
    margin:20px auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 200px;
    height:50px;
    border-radius: 10px;
    overflow: hidden;
    transition: all .3s linear;
}
button.bookings a{
    font-size: 24px;
    text-decoration: none;
    background: #ff440098;
    padding: 20px 10px 20px 40px;
    color: #000;
    transition: all .3s linear;
}
button.bookings img{
    transition: all .3s linear;
    border-radius: 30%;
}
button.bookings:hover{
    width: 160px;
    overflow: hidden;
}
button.bookings:hover a{
    padding: 0;
    transform: translateX(-2%);
    background: none;
}
button.bookings:hover img{
    transform: rotate(360deg);
    background: #ff440098;
    padding: 20px 5px 20px 5px ;
}

/* footer */



footer{
    display: flex;
    flex-direction: column;
    background: #000015;
    min-height: 25vh;
    margin-top: 30px;
    font-size: 20px;
    color: #fff;
}
footer .footer{
    background: dark;
    display: flex;
    flex-direction: column;
}
footer .footer .contact{
    margin-bottom: 10vh;
}
footer .footer .contact h1 {
    font-size: 30px;
}
footer .footer .contact ul {
    display: flex;
    list-style: none;
    font-size: 30px;
}
footer .footer .contact ul li{
    color: #fff;
    margin: auto 10px;
}
footer .footer .follow-us h1 {
    font-size: 30px;
}
footer .footer .follow-us ul {
    display: flex;
    list-style: none;
    font-size: 30px;
}
footer .footer .follow-us ul li{
    margin: auto 10px;
}

/* HOSTELS */

article .card{
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    padding: 30px 5px 5px 30px;
    background: #ff44006e;
}


@media (max-width: 1590px){
    nav ul.menu{
        top:50px;
        font-size: 30px;
    }
    article .desc-two{
        display: flex;
        flex-direction: column;
    }
    article .desc .container{
        width: 600px;
        height: 400px;
    }
    article .desc-two .container{
        width: 90vw;
        height: 400px;
    }
    article .desc-two .svg{
        width: 100vw;
    }
    article .desc-two .svg .item img{
        width: 80px;
        height: 80px;
        transition: all .3s;
    }
    article .desc-two .svg .item label{
        font-size: 10px;
        text-align: center;
    }
}
@media (max-width: 1300px){
    article .desc .container{
        width: 600px;
        height: 400px;
    }
    article .desc-two .container{
        width: 600px;
        height: 400px;
    }
    article .desc .container-two{
        box-shadow: 10px 10px 30px;
        width: 400px;
        height: 400px;
    }
    article .desc .container-two img{
        width: 400px;
        height: 400px;
    }
}
@media (max-width: 1090px){
    article .desc .container{
        width: 500px;
        height: 400px;
    }
    article .desc-two .container{
        width: 90vw;
        height: 300px;
    }
    article .desc .container-two{
        box-shadow: 10px 10px 30px;
        width: 400px;
        height: 400px;
    }
    article .desc .container-two img{
        width: 400px;
        height: 400px;
    }
    article .desc-two{
        display: flex;
        flex-direction: column;
    }
}
@media (max-width: 980px){
    article .desc .container{
        width: 400px;
        height: 500px;
    }
    article .desc-two .container{
        width: 90vw;
        height: 300px;
    }
    article .desc .container-two{
        box-shadow: 10px 10px 30px;
        width: 400px;
        height: 400px;
        margin-bottom: 20px;
    }
    article .desc .container-two img{
        width: 400px;
        height: 400px;
    }
}
@media (max-width: 884px) {
    nav .smallscreen{
        display: block;
    }
    nav .smallscreen.active .bar:nth-child(2){
        opacity: 0;
    }
    nav .smallscreen.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    nav .smallscreen.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    nav ul.menu{
        z-index: 2;
        position: fixed;
        left: -100%;
        top: 100px;
        gap: 0;
        flex-direction: column;
        background: #ff440098;
        width: 100%;
        text-align: center;
        transition:all 0.3s;
    }
    nav ul.menu.active{
        left: 0;
    }
    nav ul.menu li{
        margin-bottom: 10px;
    }
    nav ul.menu li ul.dropdown li{
        margin-bottom: 0px;
    }
    nav ul.dropdown {
        width: 120px;
        background-color: #ff4400df
    }
    nav ul.menu li:nth-child(3){
        transition: all .3s;
    }
    nav ul.menu li:nth-child(3):hover{
        margin-bottom: 80px;
    }
    header  .tittle h1{
        font-size: 90px;
    }
    header p{
        font-size: 30px;
    }
    article .desc{
        display: flex;
        justify-content: space-around;
    }
    article .desc .container{
        margin-bottom: 40px;
    }
    
}
@media (max-width: 820px){
    article .desc{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    article .desc .container{
        width: 700px;
        height: 300px;
    }
    article .desc-two .container{
        width: 700px;
        height: 300px;
    }
}

@media (max-width: 600px){
    nav ul.menu{
        top:70px;
        font-size: 15px;
    }
    nav img{
        width: 70px;
    }
    nav ul.menu li a{
        margin-right: 10px;
    }
    nav ul.menu li:nth-child(3):hover{
        margin-bottom: 40px;
    }
    nav button.bookings{
        width: 140px;
        height: 30px;
    }
    nav button.bookings a{
        font-size: 14px;
        padding: 20px 10px 20px 40px;
        
    }
    nav button.bookings img{
        width: 20px;
        transition: all .3s linear;
        border-radius: 30%;
    }
    
    nav button.bookings:hover{
        cursor: pointer;
        width: 130px;
        overflow: hidden;
    }
    nav button.bookings:hover a{
        padding: 0 15px;
        transform: translateX(-2%);
        background: none;
    }
    nav button.bookings:hover img{
        transform: rotate(360deg);
        background: #ff440098;
        padding: 20px 5px 20px 5px ;
    }

    header  .tittle h1{
        font-size: 60px;
    }
    header  .tittle h2{
        font-size: 20px;
    }
    header .tittle h2 .li{
        display: flex;
        flex-direction: column;
        margin:0 0 0 8px ;
        height: 20px;
        overflow: hidden;
        padding:0 0 8px 0;
        margin-top: 10px solid #ff44006e;
    }
    header .tittle h2 .li span{
    
        text-justify:auto;
        font-size: 20px;
        animation: autoscroll 10s  infinite;
        animation-delay: 5s;
    }
    @keyframes autoscroll {
        0%{
            transform: translateY(0);
        }    
        25%{
            transform: translateY(-28px);
        }    
        50%{
            transform: translateY(-55px);
        }    
        100%{
            transform: translateY(-81px);
        }    
        
    }
    header .tittle p{
        font-size: 15px;
    }
    article .desc{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    article .desc .container{
        margin-bottom: 40px;
    }
    article .desc .container{
        width: 90vw;
        height: 370px;
        background: gray;
        border-top: 50px solid #fff;
        color: #fff;
    }
    article .desc .container p{
        font-size: 20px;
    }
    article .desc .container-two{
        box-shadow: 10px 10px 30px;
        width: 220px;
        height: 220px;
        margin-bottom: 40px;
    }
    article .desc .container-two img{
        width: 220px;
        height: 220px;
    }
    article .desc-two {
        display: flex;
        flex-direction: column;
        padding: 10px;
        align-items: center;
    }
    article .desc-two .svg {
        display: flex;
        width: 100vw;
        justify-content: space-around;
    }
    article .desc-two .svg .item img{
        width: 40px;
        height: 40px;
        transition: all .3s;
    }
    article .desc-two .svg .item label{
        font-size: 10px;
        text-align: center;
    }
    article .desc-two .container{
        width: 90vw;
        height: 370px;
        margin: 1px 0;
        border-top: 50px solid #fff;
        background: lightgreen;
        color: #fff;
    }
    article .desc-two .container p{
        font-size: 20px;
    }
    article .products .card img{
        width: 150px;
        height: 180px; 
    }
    article .products .card .description h3{
        font-size: 20px;
    }
    article .products .card .description a{
        font-size: 10px;
    }

    button.bookings{
        width: 180px;
        height: 40px;
    }
    button.bookings a{
        font-size: 20px;
        padding: 20px 10px 20px 40px;
        
    }
    button.bookings img{
        transition: all .3s linear;
        border-radius: 30%;
    }
    footer .footer .contact h1 {
        font-size: 20px;
    }
    footer .footer .contact ul {
        list-style: none;
        font-size: 20px;
    }
    footer .footer .contact ul img{
        width: 20px;
    }
    
    footer .footer .follow-us h1 {
        font-size: 18px;
    }
    footer .footer .follow-us ul img{
        width: 20px;
    }
    footer p {
        list-style: none;
        font-size: 15px;
    }
}

@media (max-width: 380px){
    header  .tittle h1{
        font-size: 50px;
    }
    article .desc-two .container p{
        font-size: 18px;
    }
    article .desc .container p{
        font-size: 18px;
    }
    article .desc-two .svg .item{
        width: 45px;
    }
}
